<button
  type="button"
  [attr.aria-label]="'header.translate-button' | transloco"
  (click)="openDialog()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    class="select-none fill-neutral-700 transition duration-300 ease-in-out hover:scale-110 dark:fill-neutral-300">
    <path
      d="m476-80 182-480h84L924-80h-84l-43-122H603L560-80h-84ZM160-200l-56-56 202-202q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H40v-80h280v-80h80v80h280v80H564q-21 72-63 148t-83 116l96 98-30 82-122-125-202 201Zm468-72h144l-72-204-72 204Z" />
  </svg>
</button>
@if (menuVisible) {
  <div
    #languageMenu
    class="absolute right-1 origin-top-right cursor-pointer rounded border border-neutral-950 bg-neutral-900 p-1 text-sm"
    jcClickOutside
    (clickedOutside)="hideMenu()">
    <ul>
      @for (language of languages | keyvalue; track language.key) {
        <li
          class="flex w-20 items-center justify-start rounded p-1 text-neutral-200 hover:bg-neutral-700"
          tabindex="0"
          jcClickEnterSpacebar
          (clickedOrEnterOrSpaceBar)="changeLanguage(language.key)">
          {{ language.value }}
        </li>
      }
    </ul>
  </div>
}
