<div class="flex w-full gap-2.5 pt-5" *transloco="let t; prefix: 'home.presentation.button-bar'">
  <a
    [class]="basicButtonStyles + ' ' + primaryButtonStyles"
    role="link"
    href="https://www.linkedin.com/in/jc-jie-chen"
    target="_blank"
    rel="noopener noreferrer">
    <fa-icon size="1x" [icon]="['fab', 'linkedin']" />
    LinkedIn
  </a>

  <a
    jcOpenLinkConfirmation
    [class]="basicButtonStyles + ' ' + secondaryButtonStyles"
    href="assets/pdf/CV_Jie_Chen.pdf"
    download
    type="application/pdf"
    rel="noopener noreferrer">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="20"
      viewBox="0 -960 960 960"
      width="20"
      class="fill-inherit">
      <path
        d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
    </svg>
    {{ t('downloadCV') }}
  </a>

  <div class="flex gap-0.5">
    <a
      jcOpenLinkConfirmation
      [class]="basicButtonStyles + ' ' + secondaryButtonStyles"
      role="link"
      href="mailto:jchen070702@gmail.com">
      <fa-icon size="1x" [icon]="['far', 'envelope']" />
      {{ t('contact') }}
    </a>

    <button
      [attr.aria-label]="'header.navbar.copyEmailToClipboard' | transloco"
      [class]="basicButtonStyles + ' ' + secondaryButtonStyles"
      (click)="copyEmail()">
      <fa-icon size="1x" [icon]="['fas', 'copy']" />
    </button>
  </div>
</div>
