<nav
  *transloco="let t; prefix: 'header.navbar'"
  class="flex h-full w-full items-center justify-center">
  <ul
    class="flex flex-row gap-x-6 rounded-3xl border border-neutral-800 px-4 py-1 text-sm shadow shadow-purple-300 backdrop-blur-lg"
    style="background-color: rgba(190, 166, 255, 0.15)">
    <li>
      <a
        class="cursor-pointer"
        target="_blank"
        role="link"
        rel="noopener noreferrer"
        aria-label="Open Github"
        href="https://github.com/Jchen07">
        <fa-icon
          [icon]="['fab', 'github']"
          class="fa-lg fill-neutral-800 transition duration-300 ease-in-out select-none hover:scale-110 dark:fill-neutral-200" />
      </a>
    </li>
    @for (option of options; track option.labelkey) {
      <li
        tabindex="0"
        [attr.aria-label]="t(option.labelkey)"
        class="hover:text-purple-700 dark:hover:text-purple-400">
        @if (option.extern) {
          <a
            jcOpenLinkConfirmation
            role="link"
            class="cursor-pointer"
            rel="noopener noreferrer"
            [href]="option.href">
            {{ t(option.labelkey) }}
          </a>
          <fa-icon
            class="cursor-pointer"
            [icon]="['fas', 'copy']"
            [title]="t('copyEmailToClipboard')"
            [attr.aria-label]="t('copyEmailToClipboard')"
            (click)="copyEmailToClipboard()" />
        } @else {
          <a role="link" class="cursor-pointer" [href]="option.href">
            {{ t(option.labelkey) }}
          </a>
        }
      </li>
    }
  </ul>
</nav>
