<!--todo multilingual-->
<ol class="relative ml-4 border-s border-neutral-400 dark:border-gray-700">
  <li class="mb-10 ms-4">
    <div
      class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-neutral-500 bg-neutral-800 dark:border-gray-900 dark:bg-gray-500 dark:shadow-sm dark:shadow-purple-300"></div>
    <div class="sm:grid sm:grid-cols-5">
      <div class="sm:col-span-2">
        <time class="mb-1 text-sm leading-none text-purple-700 dark:text-gray-500">
          November 2021 - Present
        </time>
        <h3 class="text-lg font-semibold">Business Applications Engineer</h3>
        <h4>DXC Technology</h4>
        <div class="mt-1 flex flex-wrap gap-1">
          <jc-tag [name]="TAG_NAME.ANGULAR" />
          <jc-tag [name]="TAG_NAME.JAVA" />
          <jc-tag [name]="TAG_NAME.SPRING_FRAMEWORK" />
          <jc-tag [name]="TAG_NAME.TYPESCRIPT" />
          <jc-tag [name]="TAG_NAME.POSTGRE_SQL" />
        </div>
      </div>
      <p
        class="mb-4 flex h-full items-center text-balance text-base text-gray-600 sm:col-span-3 dark:text-gray-400">
        Develop scalable back-end with Java Spring Boot and dynamic front-end components using
        Angular. Occasionally lead small teams to develop new features, such as multilingual
        support, update technology stacks, and provide support to team members.
      </p>
    </div>
  </li>
</ol>
