<ol class="relative ml-4 border-s border-neutral-400 dark:border-gray-700">
  @for (timeLine of timeLines(); track timeLine.title) {
    <li class="ms-4 mb-10">
      <div
        class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-neutral-500 bg-neutral-800 dark:border-gray-900 dark:bg-gray-500 dark:shadow-sm dark:shadow-purple-300"></div>
      <div class="md:grid md:grid-cols-5">
        <div class="pr-1 md:col-span-2">
          <time class="mb-1 text-sm leading-none text-purple-700 dark:text-gray-500">
            {{ timeLine.time }}
          </time>
          <h3 class="text-lg font-semibold">{{ timeLine.title }}</h3>

          @if (timeLine.subtitle) {
            @if (timeLine.link) {
              <a
                jcOpenLinkConfirmation
                [attr.href]="timeLine.link"
                target="_blank"
                class="flex items-center gap-2">
                <ng-container [ngTemplateOutlet]="subtitleContent" />
              </a>
            } @else {
              <div class="flex items-center gap-2">
                <ng-container [ngTemplateOutlet]="subtitleContent" />
              </div>
            }
            <ng-template #subtitleContent>
              @if (timeLine.icon) {
                <img
                  class="object-contain dark:bg-neutral-50 dark:p-0.5"
                  [ngSrc]="'assets/icons/' + timeLine.icon"
                  height="20"
                  width="28"
                  alt="logo" />
              }
              <h4>{{ timeLine.subtitle }}</h4>
            </ng-template>
          }

          @if (timeLine.tags?.length) {
            <div class="mt-1 flex flex-wrap gap-x-1 gap-y-0.5">
              @for (tag of timeLine.tags; track tag) {
                <jc-tag [name]="tag" />
              }
            </div>
          }
        </div>
        <p
          class="mb-4 flex h-full items-center text-base text-gray-600 md:col-span-3 dark:text-gray-400">
          {{ timeLine.description }}
        </p>
      </div>
    </li>
  }
</ol>
