<!--@if (testModel$ | async; as testModel) {-->
<!--  <section>-->
<!--    {{ testModel.title }}-->
<!--  </section>-->
<!--} @else {-->
<!--  <section>Titol sense action</section>-->
<!--}-->

<!--@if (loading$ | async) {-->
<!--  <section>Cargando...</section>-->
<!--}-->

<main class="flex w-full flex-wrap justify-center">
  <jc-presentation-section class="flex h-svh w-svw items-center justify-center" />
  <jc-experience-section class="w-4/5 py-16 md:w-2/3" />
  <jc-education-section class="w-4/5 py-16 md:w-2/3" />
  <!-- TODO: uncomment when have projects to link  -->
  <!--  <jc-projects-section class="w-4/5 py-16 md:w-2/3" />-->
</main>
