<!--@if (testModel$ | async; as testModel) {-->
<!--  <section>-->
<!--    {{ testModel.title }}-->
<!--  </section>-->
<!--} @else {-->
<!--  <section>Titol sense action</section>-->
<!--}-->

<!--@if (loading$ | async) {-->
<!--  <section>Cargando...</section>-->
<!--}-->

<!--TODO: multiidioma-->

<section
  *transloco="let t; prefix: 'home'"
  [attr.aria-label]="t('presentation')"
  class="flex h-screen w-screen items-center justify-center">
  <div class="h-auto w-screen md:w-1/2">
    <h1 class="text-5xl">Hey, I'm Jie Chen</h1>
    <h2 class="text-3xl">A full-stack developer</h2>
  </div>
</section>
