<header class="h-16 w-full bg-transparent dark:bg-neutral-800 dark:text-neutral-100">
  <div class="flex h-full justify-between">
    <div class="h-full"></div>
    <div class="flex h-full items-center gap-2.5 pr-2.5">
      <button type="button" aria-label="Canviar a modo oscuro/claro">
        <!-- TODO: Multiidioma -->
        @if (rendered && isDarkMode()) {
          <img
            (click)="setMode(MODE_ENUM.LIGHT)"
            (keyup)="handleKeyUpMode($event, MODE_ENUM.LIGHT)"
            tabindex="0"
            ngSrc="icons/light_mode.svg"
            alt="light mode"
            height="24"
            width="24"
            class="transition duration-300 ease-in-out hover:scale-110 hover:filter" />
        } @else {
          <img
            (click)="setMode(MODE_ENUM.DARK)"
            (keyup)="handleKeyUpMode($event, MODE_ENUM.DARK)"
            tabindex="0"
            ngSrc="icons/dark_mode.svg"
            alt="dark mode"
            height="24"
            width="24"
            class="transition duration-300 ease-in-out hover:scale-110 hover:filter" />
        }
      </button>
      <button type="button" aria-label="Canviar idioma" (click)="changeLanguage()">
        <!-- TODO: Multiidioma -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          [ngStyle]="{ fill: translateIconColor }">
          <path
            d="m476-80 182-480h84L924-80h-84l-43-122H603L560-80h-84ZM160-200l-56-56 202-202q-35-35-63.5-80T190-640h84q20 39 40 68t48 58q33-33 68.5-92.5T484-720H40v-80h280v-80h80v80h280v80H564q-21 72-63 148t-83 116l96 98-30 82-122-125-202 201Zm468-72h144l-72-204-72 204Z" />
        </svg>
      </button>
    </div>
  </div>
</header>
