@if (rendered) {
  <button type="button" aria-label="Canviar a modo oscuro/claro">
    <!-- TODO: Multiidioma -->
    @if (isDarkMode()) {
      <img
        (click)="setMode(MODE_ENUM.LIGHT)"
        (keyup)="handleKeyUpMode($event, MODE_ENUM.LIGHT)"
        tabindex="0"
        ngSrc="icons/light_mode.svg"
        alt="light mode"
        height="24"
        width="24"
        class="transition duration-300 ease-in-out hover:scale-110 hover:filter" />
    } @else {
      <img
        (click)="setMode(MODE_ENUM.DARK)"
        (keyup)="handleKeyUpMode($event, MODE_ENUM.DARK)"
        tabindex="0"
        ngSrc="icons/dark_mode.svg"
        alt="dark mode"
        height="24"
        width="24"
        class="transition duration-300 ease-in-out hover:scale-110" />
    }
  </button>
} @else {
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="#e8eaed"
    class="animate-spin fill-gray-400">
    <path
      d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z" />
  </svg>
}
