<div
  id="tag-container"
  class="border-term-tag-border bg-term-tag-bg text-term-tag-fg inline-flex w-auto items-center justify-center gap-1.5 rounded border px-2 py-0.5 font-mono">
  @switch (name()) {
    @case (TAG_NAME.ANGULAR) {
      <jc-angular-icon [size]="size()" />
    }
    @case (TAG_NAME.JAVA) {
      <jc-java-icon [size]="size()" />
    }
    @case (TAG_NAME.SPRING_FRAMEWORK) {
      <jc-spring-icon [size]="size()" />
    }
    @case (TAG_NAME.TYPESCRIPT) {
      <jc-typescript-icon [size]="size()" />
    }
    @case (TAG_NAME.POSTGRE_SQL) {
      <jc-postgresql-icon [size]="size()" />
    }
    @case (TAG_NAME.VUE) {
      <jc-vue-icon [size]="size()" />
    }
    @case (TAG_NAME.PHP) {
      <jc-php-icon [size]="size()" />
    }
    @case (TAG_NAME.CSHARP) {
      <jc-csharp-icon [size]="size()" />
    }
    @case (TAG_NAME.JAVASCRIPT) {
      <jc-javascript-icon [size]="size()" />
    }
    @case (TAG_NAME.MARIA_DB) {
      <jc-mariadb-icon [size]="size()" />
    }
    @case (TAG_NAME.ORACLE) {
      <jc-oracle-icon [size]="size()" />
    }
  }
  <p class="text-xs lowercase">{{ name() }}</p>
</div>
