@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Suse';
  src: url('../public/assets/fonts/SUSE-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Suse', sans-serif;
  font-weight: 400;
}
